body {
    margin: 0;
    padding: 0;
    background: url("/images/login.png") no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-box h2 {
    margin-bottom: 20px;
    color: white;
}

.login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #ffffff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box button:hover {
    background: #ddd;
}

.login-box a {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}

/* Right popup menu style */
.right-popup-menu {
    position: fixed;
    top: 30px;
    right: -320px;
    width: 250px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    transition: right 0.3s ease;
    padding: 10px;
    border-radius: 6px;
    flex-direction: column;
    display: flex;
    color: white;
    margin-top: 30px;
}

.right-popup-menu.active {
    right: 10px;
}

.follow-btn {
    margin-top: 10px;
    padding: 6px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.follow-btn:hover {
    background-color: #218838;
}
