/* =======================
   General body and map
========================== */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Left popup menu style */
.left-popup-menu {
    position: fixed;
    top: 30px;
    left: -320px;
    width: 250px;
    height: 445px;
    background-color: transparent;
    z-index: 2000;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 2px;
    flex-direction: column;
    display: flex;
    color: #e0e0e0;
    margin-top: 30px;
    border: solid 1px;
    border-color: #dfdcdc69;
}

.left-popup-menu.active {
    left: 10px;
}

#mapModeBtn {
    cursor: pointer;
}
.popup-pesawat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-pesawat-header h4 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.popup-pesawat-header .close-btn {
    font-size: 18px;
    padding: 0 8px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    transition: color 0.3s;
}

.popup-pesawat-header .close-btn:hover {
    color: #ff0000;
}

.flight-icon {
    cursor: pointer;
}

.leaflet-tile {
    transition: filter 0.3s ease;
}

.leaflet-draw {
    z-index: 1000 !important;
}

.leaflet-top.leaflet-left,
.leaflet-top.leaflet-right {
    top: 70px !important;
}

#mapContainer {
    pointer-events: auto !important;
}

/* =======================
       Navbar style
========================== */

.navbar.navbar-transparent {
    background-color: transparent;

    padding: 0.5rem 1rem;
    z-index: 1050;
}

.navbar-brand img {
    max-height: 48px;
}

.search-container {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 250px;
    z-index: 1100;
    backdrop-filter: blur(2px);
}

.search-container #search-form {
    width: 100%;
    margin: 0;
}

.search-container #search-input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dfdcdc69;
    color: #fff;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    transition: background-color 0.3s ease, border 0.3s ease;
    height: 20px;
    margin-top: 4px;
}

.search-container #search-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    outline: none;
}

.search-container #search-input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.navbar .dropdown-menu {
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 180px;
}

.navbar .dropdown-item {
    color: #ffffff;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
}

.navbar .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar .btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.navbar .btn-outline-light:hover {
    background-color: #ffffff;
    color: #dfdcdc;
}

.navbar .btn-icon-right {
    background: none;
    border: none;
    margin-left: 10px; /* ubah dari 1rem ke 10px */
    cursor: pointer;
}
.navbar .btn-icon-right img {
    width: 30px;
    height: 30px;
    margin-left: 10px; /* jika yang ingin diberi jarak adalah gambar */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-container {
        width: 150px;
        top: 15px;
        left: 10px;
    }

    .search-container #search-input {
        font-size: 0.75rem;
        padding: 0.3rem 0.5rem;
    }
}

.right-popup-menu {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 260px;
    background: transparent; /* abu kehitaman, transparan */
    color: #e0e0e0; /* abu terang */
    border-radius: 2px;
    padding: 10px;
    z-index: 1000;
    transition: all 0.3s ease;
    display: none; /* default hidden */
    border: solid 1px;
    border-color: #dfdcdc69;
}

.popup-follow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-follow-header h4 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.reset-follow-btn {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.reset-follow-btn:hover {
    background-color: rgba(220, 4, 4, 0.619);
}

.save-follow {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.save-follow:hover {
    background-color: rgba(46, 255, 81, 0.742);
}

.popup-follow-header .close-btn {
    font-size: 18px;
    padding: 0 8px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    transition: color 0.3s;
}

.popup-follow-header .close-btn:hover {
    color: #ff0000;
}

.popup-content-follow {
    max-height: 300px;
    overflow-y: auto;
}

/* Scrollbar styling */
.popup-content-follow::-webkit-scrollbar {
    width: 6px;
}
.popup-content-follow::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

/* isi popup kanan */

.follow-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(44, 45, 45);
    border-radius: 2px;
    font-size: 10px;
    color: #ffffff;
}

.follow-item div {
    margin-bottom: 2px;
    color: #e0e0e0;
}

.follow-item strong {
    color: #ffffff;
    font-weight: 600;
}

.follow-distance {
    font-weight: bold;
    color: #ffcc00;
}

.popup-pesawat-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.follow-btn {
    background-color: rgb(44, 45, 45);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border-color: gray;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 215px;
}

.follow-btn:hover {
    background-color: rgba(46, 255, 81, 0.742);
}

.follow-btn:active {
    transform: scale(0.97);
}

#mapModeMenu .mode-option {
    padding: 5px 10px;
    transition: background 0.3s;
}

#mapModeMenu .mode-option:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
}

#custom-locate-btn {
    position: absolute;
    bottom: 45px;
    right: 10px;
    background: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Tambahan visual untuk menunjukkan tombol aktif */
#custom-locate-btn.active-locate {
    background-color: #007bff;
}

#custom-locate-btn.active-locate svg {
    fill: #fff;
}

#custom-toolbar {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.draw-btn {
    width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    border: solid 1px;
    border-color: gray;
}

.draw-btn:hover {
    background-color: #f0f0f047;
}

.draw-btn svg {
    width: 23px;
    height: 23px;
    stroke: white !important;
    fill: white !important;
}

.draw-btn.active {
    background-color: #f0f0f070;
}

.draw-btn.active svg {
    fill: #fff;
}

.leaflet-popup-content-wrapper {
    white-space: nowrap; /* jika ingin teks bisa ke baris baru */
    max-width: none !important; /* batas lebar popup */
    padding: 2px 5px; /* Padding agar popup tidak terlalu rapat */
    font-size: 10px; /* Ukuran font agar nyaman dibaca */
}

.leaflet-popup-content {
    margin: 0;
    line-height: 1.2;
}

.leaflet-popup-tip {
    display: none; /* (Opsional) sembunyikan segitiga kecil di popup bawah */
}
