/* =======================
   General body and map
========================== */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.map {
    height: 100%;
    width: 100%;
    z-index: 1;
}

/* Popup menu umum */
.popup-menu.active {
    right: 0;
}

.popup-menu .close-btn,
.left-popup-menu .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
    color: #ffffff;
}

.popup-menu .close-btn:hover,
.left-popup-menu .close-btn:hover {
    color: #000;
}

/* Left popup menu style */
.left-popup-menu {
    position: fixed;
    top: 30px;
    left: -320px;
    width: 250px;
    height: 400px;
    background-color: transparent;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    transition: all 0.3s ease;
    padding: 10px;
    border-radius: 2px;
    flex-direction: column;
    display: flex;
    color: #e0e0e0;
    margin-top: 30px;
    border: solid 1px;
    border-color: #dfdcdc69;
}

.left-popup-menu.active {
    left: 10px;
}

.popup-pesawat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-pesawat-header h4 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.popup-pesawat-header .close-btn {
    font-size: 18px;
    padding: 0 8px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    transition: color 0.3s;
}

.popup-pesawat-header .close-btn:hover {
    color: #ff0000;
}

.flight-icon {
    cursor: pointer;
}

.leaflet-tile {
    transition: filter 0.3s ease;
}

.leaflet-draw {
    z-index: 1000 !important;
}

.leaflet-top.leaflet-left,
.leaflet-top.leaflet-right {
    top: 70px !important;
}

#coordinate {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 12px;
}

#mapModeMenu .mode-option,
#fullscreenMenu .fs-option {
    padding: 4px 8px;
    cursor: pointer;
}

#mapModeMenu .mode-option:hover,
#fullscreenMenu .fs-option:hover {
    background: rgba(255, 255, 255, 0.2);
}

#fullscreenBtn:hover {
    background: rgba(255, 255, 255, 0.2);
}

#fullscreenBtn {
    z-index: 9999 !important;
    pointer-events: auto !important;
}

#fullscreenBtn img {
    pointer-events: auto !important;
}

#mapContainer {
    pointer-events: auto !important;
}

/* =======================
       Navbar style
========================== */

.navbar.navbar-transparent {
    background-color: transparent;

    padding: 0.5rem 1rem;
    z-index: 1050;
}

.navbar-brand img {
    max-height: 48px;
}

.search-container {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 250px;
    z-index: 1100;
    backdrop-filter: blur(2px);
}

.search-container #search-form {
    width: 100%;
    margin: 0;
}

.search-container #search-input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #dfdcdc69;
    color: #fff;
    padding: 0.4rem 0.7rem;
    border-radius: 2px;
    transition: background-color 0.3s ease, border 0.3s ease;
    height: 20px;
    margin-top: 4px;
}

.search-container #search-input:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    outline: none;
}

.search-container #search-input::placeholder {
    color: #fff;
    opacity: 0.8;
}

.navbar .dropdown-menu {
    background-color: transparent;
    border-radius: 2px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    min-width: 180px;
}

.navbar .dropdown-item {
    color: #ffffff;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease;
}

.navbar .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.navbar .btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.navbar .btn-outline-light:hover {
    background-color: #ffffff;
    color: #dfdcdc;
}

.navbar .btn-icon-right {
    background: none;
    border: none;
    padding: 0;
    margin-left: 1rem;
    cursor: pointer;
}

.navbar .btn-icon-right img {
    width: 30px;
    height: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-container {
        width: 150px;
        top: 10px;
        left: 10px;
    }

    .search-container #search-input {
        font-size: 0.75rem;
        padding: 0.3rem 0.5rem;
    }
}

.right-popup-menu {
    position: fixed;
    top: 70px;
    right: 10px;
    width: 260px;
    background: transparent; /* abu kehitaman, transparan */
    color: #e0e0e0; /* abu terang */
    border-radius: 2px;
    padding: 10px;
    z-index: 1000;
    transition: all 0.3s ease;
    display: none; /* default hidden */
    border: solid 1px;
    border-color: #dfdcdc69;
}

.popup-follow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.popup-follow-header h4 {
    margin: 0;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.reset-follow-btn {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s ease;
    margin-right: 20px;
}

.reset-follow-btn:hover {
    background-color: rgba(220, 4, 4, 0.619);
}

.save-follow {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 4px 8px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.save-follow:hover {
    background-color: rgba(46, 255, 81, 0.742);
}

.popup-follow-header .close-btn {
    font-size: 18px;
    padding: 0 8px;
    position: absolute;
    top: 7px;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    transition: color 0.3s;
}

.popup-follow-header .close-btn:hover {
    color: #ff0000;
}

.popup-content-follow {
    max-height: 300px;
    overflow-y: auto;
}

/* Scrollbar styling */
.popup-content-follow::-webkit-scrollbar {
    width: 6px;
}
.popup-content-follow::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
}

/* isi popup kanan */

.follow-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(44, 45, 45);
    border-radius: 2px;
    font-size: 10px;
    color: #ffffff;
}

.follow-item div {
    margin-bottom: 2px;
    color: #e0e0e0;
}

.follow-item strong {
    color: #ffffff;
    font-weight: 600;
}

.follow-distance {
    font-weight: bold;
    color: #ffcc00;
}
